{
    http_port 43852
}

https://misc.010.one:728 {
  reverse_proxy localhost:43853

  tls xarantolus@protonmail.com {
    dns namecheap {
          api_key {env.NAMECHEAP_API_KEY}
          user {env.NAMECHEAP_API_USER}
      }
  }
}

